#Settings
*.appsetting.json
obj/*
*.UniversityEnrollmentPlatform.csproj
*.UniversityEnrollmentPlatform.csproj.user
*.UniversityEnrollmentPlatform.sln
Properties/*
*.appsettings.Development.json
.bin/*
Migrations/*
.vs/*